<div class="row red-background big-padding-top">
  <div class="col-sm-12 text-center">
    <a href="#" class="link-white"><%= image_tag "bb-logo-white.png", :class => "img-responsive img-centered big-padding-bottom" %></a>
    <h1 class="white-font tag-line palatino-font big-padding-bottom" style="line-height: 40px;"><i>We will help your business become a brand.</i></h1>
    <%= image_tag "ask-us-anything.png", :class => "small-padding-bottom" %>
    <a href="#" class="link-white"><p class="white-font giorgio-font" style="font-size: 30px; letter-spacing: 1px; padding-bottom: 20px; padding-top: 20px;">IRINAMANNING@GMAIL.COM</p></a>
    <div class="small-padding-bottom">
      <a href="#" class="link-white"><%= image_tag "twitter-icon-white.png", :style=>"padding: 5px;" %></a>
      <a href="#" class="link-white"><%= image_tag "linkedin-icon-white.png", :style=>"padding: 5px;" %></a>
      <a href="#" class="link-white"><%= image_tag "instagram-icon-white.png", :style=>"padding: 5px;" %></a>
      <!-- <a href="#" class="link-white"><%= image_tag "facebook-icon-white.png", :style=>"padding: 5px;" %></a> -->
    </div>
    <hr>
    <p class="white-font palatino-font small-padding-bottom" style="padding-top: 40px;"><small>Copyright 2015 Irina Manning</small></p>
  </div>
</div>