<div class="row red-background big-padding-top">
  <div class="col-sm-12 text-center">
    <%= image_tag "irinamanning-logo-white.png", :class => "img-responsive img-centered big-padding-bottom" %>
    <h1 class="white-font tag-line big-padding-bottom" style="line-height: 40px;"><i>We will help your business become a brand.</i></h1>
    <a href="#" class="link-white"><p class="white-font header-text" style="padding-bottom: 20px; padding-top: 20px;">IRINAMANNING@GMAIL.COM</p></a>
    <div class="small-padding-bottom">
      <a href="#" class="link-white"><%= image_tag "twitter-icon-white.png", :style=>"padding: 5px;" %></a>
      <a href="#" class="link-white"><%= image_tag "linkedin-icon-white.png", :style=>"padding: 5px;" %></a>
      <a href="#" class="link-white"><%= image_tag "instagram-icon-white.png", :style=>"padding: 5px;" %></a>
      <!-- <a href="#" class="link-white"><%= image_tag "facebook-icon-white.png", :style=>"padding: 5px;" %></a> -->
    </div>
    <p class="white-font big-padding-top small-padding-bottom" id="copyright" ><small>Copyright 2015 Irina Manning</small></p>
  </div>
</div>