<div class="row red-background big-padding-top">
  <div class="col-sm-12 text-center">
   <!--  <%= image_tag "irinamanning-logo-white.png", :class => "img-responsive img-centered big-padding-bottom" %> -->
    <!-- <h1 class="white-font tag-line big-padding-bottom" style="line-height: 40px; font-family: Palatino;"><i>Strategy. Design. Develpment.</i></h1> -->
    <hr>
    <a href="#" class="link-white"><p class="white-font header-font" style="padding-bottom: 20px; padding-top: 30px;">IRINAMANNING@GMAIL.COM</p></a>
    <div class="small-padding-bottom">
      <a href="#" class="link-white"><%= image_tag "twitter-icon-white.png", :style=>"padding: 5px;" %></a>
      <a href="#" class="link-white"><%= image_tag "linkedin-icon-white.png", :style=>"padding: 5px;" %></a>
      <a href="#" class="link-white"><%= image_tag "instagram-icon-white.png", :style=>"padding: 5px 5px 0px 5px;" %></a>
      <!-- <a href="#" class="link-white"><%= image_tag "facebook-icon-white.png", :style=>"padding: 5px;" %></a> -->
    </div>
    <hr>
    <p class="white-font big-padding-top small-padding-bottom" id="copyright" ><small>Copyright 2015 Irina Manning</small></p>
  </div>
</div>