<% height = 100 %>

<!-- nav bar -->
<nav class="navbar navbar-default navbar-fixed-top" style="height:<%= height %>px">
  <div class="container">
    <div class="row" style="line-height:<%= height %>px;">
      <div class="col-sm-6">
        <a href="/">Irina Manning</a>
      </div>
      <div class="col-sm-2 text-right">
        <p> </p>
      </div>
      <div class="col-xs-1 text-right">
        <a href="https://twitter.com/irina_manning" target="_blank" class="link-black"><%= image_tag "twitter-icon-black.png" %></a></p>
      </div> 
      <div class="col-xs-1 text-right">
        <a href="https://www.linkedin.com/in/irinamanning" target="_blank" class="link-black"><%= image_tag "linkedin-icon-black.png" %></a>
      </div>
      <div class="col-xs-1 text-right">
        <a href="https://instagram.com/irinamanningdesign/" target="_blank" class="link-black"><%= image_tag "instagram-icon-black.png" %></a>
      </div>
      <div class="col-xs-1 text-right">
        <a href="mailto:irinamanning@gmail.com" target="_blank" class="link-black"><%= image_tag "email-icon-black.png" %></a>
      </div>
    </div>
  </div>
</nav>

<!-- spacer. ensures nav doesn't top of page content -->
<div style="height:<%= height %>px">&nbsp;</div>

<!-- end nav bar -->