<%= render :partial => 'nav' %>

<%= render :partial => 'menulist' %>

<!-- hero banner -->
<div id="hero-banner">
  <div class="container-fluid">
    <div class="row"> 
      <%= image_tag "irinamanning-logo-red.png", :class => "img-responsive img-centered" %>
      <h1>UX Design & Web Development</h1>
    </div>
  </div>
</div>
<!-- end hero banner -->

<!-- what we do -->
<script>
  $(function() {
    $('#value-props').find('img').hover(function() {
      newSrc = $(this).parent().find('img.highlight').attr('src');

      $(this).attr('src', newSrc);
    }, function(){
      newSrc = $(this).parent().find('img.regular').attr('src');
      $(this).attr('src', newSrc);
    });
  });
</script>
<div id="value-props" class="container-fluid im-content-section">
  <div class="row"> 
    <h1>What We Do</h1>
  </div>
  <div class="row">
    <% props = [
      ["branding-circle-bw.png", "branding-circle.png", "UX Design", "Modern, clean and balanced, our design makes a statement without distractions."],
      ["responsive-design-circle-bw.png", "responsive-design-circle.png", "Web Development", "We implement responsive, custom websites and templates, built with love."],
      ["graphic-design-circle-bw.png", "graphic-design-circle.png", "Branding", "Improve your web presence and bring in more site engagement with better branding."]
    ] %>
    <%#== unused snippets: Custom logo and theme design is our specialty. %>
    <% props.each do |prop| %>
      <div class="col-sm-4 text-center">
        <%= image_tag prop[0] %>
        <%= image_tag prop[0], :class => "regular", :style => "display:none;" %>
        <%= image_tag prop[1], :class => "highlight", :style => "display:none;" %>
        <h3 class="red-font skill-name text-center"><%= prop[2] %></h3>
        <p class="text-center big-padding-bottom"><%= prop[3] %></p>
      </div>
    <% end %>
  </div>
</div>
<!-- end what we do -->

<!-- principles -->
<div id="principles" class="container-fluid im-content-section">
  <div class="row"> 
    <div class="col-sm-12 text-center">
      <h1>Our Principles</h1>
    </div>
  </div>
  <div class="row"> 
    <div class="col-sm-12 text-center">
      <h2>Built with Love</h2>
      <p>True passion for design, attention to detail, and writing quality code is what I bring into every project. From the first client meeting to finally deploying a website, I approach every step of a project with care, pragmatism and attention to detail. Nothing is sub-contracted.</p>
    </div>
  </div>
  <div class="row"> 
    <div class="col-sm-12 text-center">
      <h2>Listening Matters</h2>
      <p>We work carefully to listen very carefully to clients' requests and carefully consider all opinions. If something is not realistic or there may be a better way of approaching a problem, clear, pragmatic choices are offered.</p>
    </div>
  </div>
  <div class="row"> 
    <div class="col-sm-12 text-center">
      <h2>A Pleasureable Experience</h2>
      <p>Planning, designing and delivering a website that meets every clients' unique goals should be a painless, exciting and rewarding experience, not an endless negotiation.</p>
    </div>
  </div>
</div>
<!-- end principles -->

<!-- clients -->
<div id="clients" class="container-fluid im-content-section">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>Our Clients</h1>
    </div>
  </div>
  <%#= TODO may want to link these to respective sites? %>
  <% logos = %w(qvc-logo.png rlg-logo.png felixgilman.png mc-logo.png swig-logo.png) %>
  <% logos.each do |logo| %>
    <div class="row">
      <div class="col-sm-12 text-center">
        <%= image_tag logo %>
      </div> 
    </div> 
  <% end %>
</div>

<!--   </div>  
    <p class="red-font big-padding-top testimonial" style="max-width: 800px; margin: auto"><i>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</i></p>
    <p class="red-font client-name" style="padding-top: 20px;"><b>N.Manning, CTO at Swig</b></p>
    <div class="big-padding-top big-padding-bottom"><a href="#" class="get-in-touch-link">Get in touch</a></div>
  </div>
</div> -->
<!-- end clients -->

<%= render :partial => 'footer' %>
