<%= render :partial => 'nav' %>

<%= render :partial => 'menulist' %>

<!-- hero banner -->
<div id="hero-banner" style="background-image: url('<%= image_path "work-space-image.png" %>');">
  <div class="container-fluid">
    <div class="row"> 
      <%= image_tag "irinamanning-logo-red.png", :class => "img-responsive img-centered" %>
      <h1>UX Design & Web Development</h1>
    </div>
  </div>
</div>
<!-- end hero banner -->

<!-- what we do -->
<script>
  $(function() {
    $('#value-props').find('img').hover(function() {
      newSrc = $($(this).parents('div')[0]).find('img.highlight').attr('src');
      $(this).attr('src', newSrc);
    }, function(){
      newSrc = $($(this).parents('div')[0]).find('img.regular').attr('src');
      $(this).attr('src', newSrc);
    });
  });
</script>
<div id="value-props" class="container-fluid im-content-section">
  <div class="row"> 
    <h1>What We Do</h1>
  </div>
  <div class="row">
    <% props = [
      ["ux-design-circle-bw.png", "ux-design-circle.png", "Web Design and UX", "Tasteful pixel-perfect website design with smooth and seamless user experience."],
      ["responsive-design-circle-bw.png", "responsive-design-circle.png", "Website Development", "Both uniquely tailored websites and easily customizable CMS based websites."],
      ["branding-circle-bw.png", "branding-circle.png", "Branding", "Unique and effective brand identities to help your brand stand out from the crowd."]
    ] %>
    <%#== unused snippets: Custom logo and theme design is our specialty. %>
    <div class="col-sm-1 text-center"> </div>
    <div class="col-sm-10  text-center"> 
      <div class="row">
        <% props.each do |prop| %>
          <div class="col-md-4 col-sm-12 text-center">
            <%= link_to 'projects' do %><%= image_tag prop[0] %><% end %>
            <%= image_tag prop[0], :class => "regular", :style => "display:none;" %>
            <%= image_tag prop[1], :class => "highlight", :style => "display:none;" %>
            <%= link_to 'projects' do %>
              <h2 class="text-center"><%= prop[2] %></h2>
            <% end %>
            <p class="text-center"><%= prop[3] %></p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-1 text-center"> </div>
  </div>
</div>
<!-- end what we do -->

<!-- principles -->
<div id="principles" class="container-fluid im-content-section" style="background-image: url('<%= image_path "irinamanning-hero-image.png" %>');">
  <div class="row"> 
    <div class="col-sm-12 text-center">
      <div class="row"> 
        <div class="col-sm-12 text-center">
          <h1>Our Principles</h1>
        </div>
      </div>
      <div class="row"> 
        <div class="col-sm-12 text-center">
          <h2>We design with your business goals in mind.</h2>
          <p>We will work closely with you to design a website that will help your company reach its individual  goals be it driving traffic, increasing sales or attracting new customers.</p>
        </div>
      </div>
      <div class="row"> 
        <div class="col-sm-12 text-center">
          <h2>Our design solutions are based on research.</h2>
          <p>We never assume. Our design direction is based on extensive research. We carefully analyse user behaviour and pick the most effective design solution possible.</p>
        </div>
      </div>
      <div class="row"> 
        <div class="col-sm-12 text-center">
          <h2>We pay close attention to the smallest details.</h2>
          <p>We pride ourselves in producing high quality pixel perfect websites. Every little detail is important. We will make sure your website looks clean, professional and polished.</p>
        </div>
      </div>
    </div>
  </div>
  
</div>
<!-- end principles -->

<!-- clients -->
<div id="clients" class="container-fluid im-content-section">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>Our Clients</h1>
    </div>
  </div>
  <%#= TODO may want to link these to respective sites? %>
  <% logos = %w(qvc-logo.png rlg-logo.png felixgilman.png mc-logo.png swig-logo.png) %>
  <div class="row">
    <div class="col-sm-12 text-center">
      <% logos.each do |logo| %>
        <%= image_tag logo %>
      <% end %>
    </div> 
  </div> 
  <div class="row">
    <div class="col-sm-12 text-center">
      <p class="red-font big-padding-top text-center testimonial" style="max-width: 800px; margin: auto"><i>Irina possesses a great sense of style and puts 100% into every project she works on. I'm happy to have chosen her to contribute to our projects at Swig.co</i></p>
      <p class="red-font text-center" id="testimonial-author">
        <b>Nick, CTO at Swig.co</b>
      </p>
    </div>
  </div>
</div>
<!-- end clients -->

<%= render :partial => 'footer' %>