<%= render :partial => 'nav' %>

<%= render :partial => 'menulist' %>

<%= image_tag "menu-close-red.png", :id => "project-close" %>

<!-- project list -->
<script>
  $(function() { 

    function updateCloseButtonState() {
      // update project close button state:
      // if any panels are open, show the close button, else hide it
      var makeVisible = ($('.project-detail-row:visible').length > 0);
      $('#project-close').toggle(makeVisible);
    }

    $('#project-close').click(function(e) {
      $('.project-detail-row:visible').toggle('blind', function() {
        updateCloseButtonState();
      });

    });

    $('.project-more-info-link').click(function(e) {
      e.preventDefault();

      // immediately close all visible panels
      $('.project-detail-row:visible').toggle();

      // animate in the target project row
      var projectRow = $(this).parents('.project-row').children('.project-detail-row');
      projectRow.toggle('blind', function() {
        updateCloseButtonState();
      });
    });

  });
</script>
<% projects = [
    ["work/pearl-bg.jpg", "June is Pearl Month",
      { brief: "",
        sections: [
          { title: "", commentary: "", images: ["work/pearl-2.png", "work/pearl-1.png", "work/pearl-3.png", "work/pearl-4.png"] },
          { title: "", commentary: "", images: [] }
        ]
      }
    ],
    ["work/aura.png", "Aura",
      { brief: "",
        sections: [
          { title: "", commentary: "", images: ["work/aura-1.jpg"] },
          { title: "", commentary: "", images: [] }
        ]
      }, "#000000"
    ],
    ["work/migm-bg.jpg", "May is Gold Month",
      { brief: "",
        sections: [
          { title: "", commentary: "", images: ["work/migm-1.png", "work/migm-2.png"] },
          { title: "", commentary: "", images: [] }
        ]
      }, "#000000"
    ],
    ["work/elite-gold.png", "Elite Gold",
      { brief: "The Elite Gold story is one of luxury and sophistication designed for the woman on the go. Whether it’s in the board room of a Fortune 500 company or on a ball­room dance floor, Elite Gold is made to wear in any occasion. Crafted from the finest 14 karat gold, the assortment of earrings, necklaces, rings, and bangles complements any style or occasion. Elite Gold is “timeless” and so are you!",
        sections: [
          { title: "Website", commentary: "Before jumping into the design process we observed a number of competitor websites and realized that most of the high-end jewelry websites use either black or different shades of dark blue as their main color. With the intention to make the brand look and feel luxurious and respectable and yet different we chose deep burgundy red. The main demographic of the brand is a young modern woman so we tried to make the brand feel feminine and fashionable too. Both the main brand color and the choice of font contribute to that. ", images: ["work/elite-gold-detail-home.png"] },
          { title: "", commentary: "", images: ["work/elite-gold-detail-ipad-tilted.jpg"] }
        ]
      }
    ],
    ["work/felix-gilman.png", "Felix Gilman", 
      { brief: "Felix John Gilman is a writer of fantasy and weird fiction. His 2007 novel Thunderer (published by Bantam Spectra) was nominated for the 2009 Locus Award for Best First Novel, and earned him a nomination for the John W. Campbell Award for Best New Writer in both 2009 and 2010. Felix reached out to us for a complete redesign of his website.",
        sections: [
          { title: "Website", commentary: "To highlight the sophistication of Felix's incredibly well written prose we chose the classic and established navy blue combined with a beautiful serif font  and a clean, classic layout free of distractions to represent the well author on his new website.", images: ["work/felix-detail-home.png"] },
          { title: "", commentary: "", images: ["work/felix-detail-books.png"] }
        ]
      }
    ], 
    ["work/bfi.png", "BFI",
      { brief: "This brochure has been designed for the British Film Festival showcasing the French New Wave films. The French new wave films are characterized by radical experiments with the film form, editing, visual style and narrative part of a general break with the conservative paradigm. Using portable equipment and requiring little or no set up time, the New Wave way of filmmaking presented a documentary style. Filming techniques included fragmented, discontinuous editing, and long takes.",
        sections: [
          { title: "Informational Brochure", commentary: "To highlight the discontinuous nature of the plot and experimenting the conservative paradigm, we came up with an interesting treatment of the photography. The images were slised up and combined again to form a discontinuous photo. The chosen colors are vintage green and beige and the photography is black and white which gives it a feel of the documentary style of the 1960s. Since the movement originated in France the fonts we came up with were inspired by the signage associated with the windows of traditional little French cafés.", images: ["work/bfi-detail-full.png"] },
          { title: "", commentary: "", images: ["work/bfi-detail-full-cover.png"] },
          { title: "", commentary: "", images: ["work/bfi-detail-text.png"] }
        ]
      }
    ], 
 
    ["work/bb.png", "Becoming Brand",
      { brief: "Our client needed overall art direction and website design for their digital branding creative agency. They wanted to come across as professional, formal and established yet creative and approachable.",
        sections: [
          { title: "Website Design, art direction", commentary: "We came up with the name Becoming Brand. We played with the meaning of the word becoming that could be both a verm and an adjective meaning attractive. We also came up with a slogan: we will help your company become a brand it deserves to be. We chose a butterfly to be a symbol of the brand. As a caterpillar turns into a beautiful butterfly - becoming brand will help its clients' brands to turn into something appealing and beautiful too. We featured an image of a butterfly throughout the website in some of the icons, images and more importantly the custom designed logo - two capital B's, one of them flipped to form a shape similar to that of a butterfly. To counterbalance the playfulness and creativity that and image of a butterfly could symbolize we designed a clean, modern and, minimalistic website for a young progressive business which made it look not only creative but established, modern and professional. Both the serif and the choice of the light blue to be the main brand color makes the company's image look up-to-date and professionally formal.", images: ["work/bb-detail-about.png"] },
          { title: "", commentary: "", images: ["work/bb-ipad-1.png"] },
          { title: "", commentary: "", images: ["work/bb-detail-ipad-2.png"] },
        ]
      }
    ], 
    # ["work/unnamed-peak.png", "The Unnamed Peak",
    #   { brief: "",
    #     sections: [
    #       { title: "Website Design", commentary: "", images: ["work/bb-detail-about.png"] },
    #       { title: "", commentary: "", images: ["work/bb-ipad-1.png"] },
    #       { title: "", commentary: "", images: ["work/bb-detail-ipad-2.png"] },
    #     ]
    #   }
    # ],
    ["work/element.png", "Element",{ brief: "Element is a yearly festival. It is an event of the senses, that celebrates sound in all its manifestations and consists of various events: from musical concerts of all genres to scientific lectures on the history and nature of sounds to workshops. The creative brief was to create a brand identity for the website and design posters, tickets, promotional postcards as well as a mobile app and a tablet version of it to bring awareness to the event online.",
        sections: [
          { title: "Website, brand identity", commentary: "Considering the volume and the depth of the scientific knowledge and the vast culture of sound, we decided to pay extra attention to research. We found out that some people can visualize what they hear. On that note, we came up with a circular shape to be the main brand element (that is also reminicsent of a shape of a traditional music CD). Through a bold, modern font and vibrant energetic colors we tried to make the feel of the brand lively, confident, fun and exciting. The photography for the online representation is black and white which was decided upon in order to bring out the bright color accents.", images: ["work/element-detail-blue-poster.png"] },
          { title: "", commentary: "", images: ["work/element-detail-blue-postcard.png"] },
          { title: "", commentary: "", images: ["work/element-detail-flyer.png"] },
          { title: "", commentary: "", images: ["work/element-detail-all-cards.png"] },        
          { title: "", commentary: "", images: ["work/element-detail-tickets.png"] },
          { title: "", commentary: "", images: ["work/element-detail-mobile.png"] },
        ]
      }]
  ] %>
  
<% projects.each do |project| %>
  <div class="container-fluid project-row">
    <div class="row">
      <div class="col-xs-12 project-summary-row" style="background-image: url('<%= image_path project[0] %>');">
        <div class="project-info-panel">
          <% style = "color:#{(project[3] ? project[3] : "#FFFFFF")}" %>
          <h1 style="<%= style %>"><%= project[1] %></h1>
          <% unless project[2].empty? %>
            <p><a href="#" class="project-more-info-link" style="<%= style %>">more info</a></p>
          <% end %>
        </div>
      </div>
    </div>
    <% unless project[2].empty? %>
      <div class="row project-detail-row" style="display:none;">
        <div class="col-xs-12 text-center">
          <%= render :partial => "project_row", :locals => { data: project[2] } %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<!-- end project list -->

<%= render :partial => 'footer' %>