
<%= render :partial => 'nav' %>

<%= render :partial => 'menulist' %>

<div class="row">
  <div class="col-xs-12 text-center" style="width: 100%; padding: 0px;">
    <%= image_tag "work/felix-gilman.png", :class=>"img-responsive portfolio-img" %>
    <!-- <div id="felix-details" class="project-details">
      <%= image_tag "work/felix-detail-home.png", :class=>"img-responsive center-block", :style=>"max-width: 800px;" %>
      <%= image_tag "work/felix-detail-books.png", :class=>"img-responsive center-block", :style=>"max-width: 800px;"  %>
    </div> -->
    <%= image_tag "work/elite-gold.png", :class=>"img-responsive portfolio-img" %>
   <!--  <div id="elite-gold-details" class="project-details">
      <%= image_tag "work/elite-gold-detail-home.png", :class=>"img-responsive center-block" %>
      <%= image_tag "work/elite-gold-detail-ipad-tilted.jpg", :class=>"img-responsive center-block" %>
    </div> -->
    <%= image_tag "work/bfi.png", :class=>"img-responsive portfolio-img" %>
    <!-- <div id="bfi-details" class="project-details">
      <%= image_tag "work/bfi-detail-full.png", :class=>"img-responsive portfolio-img center-block" %>
      <%= image_tag "work/bfi-detail-full-cover.png", :class=>"img-responsive portfolio-img center-block" %>
      <%= image_tag "work/bfi-detail-cover.png", :class=>"img-responsive portfolio-img center-block" %>
      <%= image_tag "work/bfi-detail-text.png", :class=>"img-responsive portfolio-img center-block" %>
    </div> -->
    <%= image_tag "work/swig.png", :class=>"img-responsive portfolio-img" %>
    <!-- <div id="swig-details" class="project-details">
      <%= image_tag "work/swig-detail-girl.png", :class=>"img-responsive portfolio-img center-block" %>
      <%= image_tag "work/swig-detail-list.png", :class=>"img-responsive portfolio-img center-block" %>
      <%= image_tag "work/swig-detail-profile.png", :class=>"img-responsive portfolio-img center-block" %>
    </div> -->
    <%= image_tag "work/bb.png", :class=>"img-responsive portfolio-img" %>
    <!-- <div id="bb-details" class="project-details">
      <%= image_tag "work/bb-detail-about.png", :class=>"img-responsive portfolio-img center-block" %>
      <%= image_tag "work/bb-detail-ipad.png", :class=>"img-responsive portfolio-img center-block" %>
    </div> -->
    <%= image_tag "work/element.png", :class=>"img-responsive portfolio-img" %>
    <!-- <div id="element-details" class="project-details">
      <%= image_tag "work/element-detail-mobile.png", :class=>"img-responsive portfolio-img center-block" %>
      <%= image_tag "work/element-detail-blue-poster.png", :class=>"img-responsive portfolio-img center-block" %>
      <%= image_tag "work/element-detail-two-posters.png", :class=>"img-responsive portfolio-img center-block" %>
      <%= image_tag "work/element-detail-all-cards.png", :class=>"img-responsive portfolio-img center-block" %>
      <%= image_tag "work/element-detail-flyer.png", :class=>"img-responsive portfolio-img center-block" %>
      <%= image_tag "work/element-detail-tickets.png", :class=>"img-responsive portfolio-img center-block" %>
    </div> -->
    <!-- <%= image_tag "work/unnamed-peak.png", :class=>"img-responsive portfolio-img" %> -->
    <!-- <%= image_tag "work/migm.jpg", :class=>"img-responsive portfolio-img" %> -->
  </div> 
</div>  

<%= render :partial => 'footer' %>

