<%= render :partial => 'nav' %>

<%= render :partial => 'menulist' %>

<!-- project list -->
<script>
  $(function() {
    $('.project-more-info-link').click(function(e) {
      e.preventDefault();
      $(this).parents('.project-row').children('.project-detail-row').toggle('blind');
    });
  });
</script>
<% projects = [
    ["work/felix-gilman.png", "Felix Gilman", 
      { brief: "Felix John Gilman is a writer of fantasy and weird fiction. His 2007 novel Thunderer was nominated for the 2009 Locus Award for Best First Novel, and earned him a nomination for the John W. Campbell Award for Best New Writer in both 2009 and 2010.",
        sections: [
          { title: "Website Design", commentary: "Felix asked for a redesign of his old website. I came up a new design, taking his personality and writing style and incorporated it into the overall style.", images: ["work/felix-detail-home.png"] },
          { title: "", commentary: "", images: ["work/felix-detail-books.png"] }
        ]
      }
    ],
    ["work/elite-gold.png", "Elite Gold",
      { brief: "Felix John Gilman is a writer of fantasy and weird fiction. His 2007 novel Thunderer was nominated for the 2009 Locus Award for Best First Novel, and earned him a nomination for the John W. Campbell Award for Best New Writer in both 2009 and 2010.",
        sections: [
          { title: "Website Design", commentary: "Felix asked for a redesign of his old website. I came up a new design, taking his personality and writing style and incorporated it into the overall style.", images: ["work/elite-gold-detail-home.png"] },
          { title: "", commentary: "", images: ["work/elite-gold-detail-ipad-tilted.jpg"] }
        ]
      }
    ], 
    ["work/bfi.png", "BFI",
      { brief: "Felix John Gilman is a writer of fantasy and weird fiction. His 2007 novel Thunderer was nominated for the 2009 Locus Award for Best First Novel, and earned him a nomination for the John W. Campbell Award for Best New Writer in both 2009 and 2010.",
        sections: [
          { title: "Website Design", commentary: "Felix asked for a redesign of his old website. I came up a new design, taking his personality and writing style and incorporated it into the overall style.", images: ["work/bfi-detail-full.png"] },
          { title: "", commentary: "", images: ["work/bfi-detail-full-cover.png"] },
          { title: "", commentary: "", images: ["work/bfi-detail-text.png"] }
        ]
      }
    ], 
 
    ["work/bb.png", "Becoming Brand",
      { brief: "Felix John Gilman is a writer of fantasy and weird fiction. His 2007 novel Thunderer was nominated for the 2009 Locus Award for Best First Novel, and earned him a nomination for the John W. Campbell Award for Best New Writer in both 2009 and 2010.",
        sections: [
          { title: "Website Design", commentary: "Felix asked for a redesign of his old website. I came up a new design, taking his personality and writing style and incorporated it into the overall style.", images: ["work/bb-detail-about.png"] },
          { title: "", commentary: "", images: ["work/bb-ipad-1.png"] },
          { title: "", commentary: "", images: ["work/bb-detail-ipad-2.png"] },
        ]
      }
    ], 
    # ["work/unnamed-peak.png", "The Unnamed Peak",
    #   { brief: "Felix John Gilman is a writer of fantasy and weird fiction. His 2007 novel Thunderer was nominated for the 2009 Locus Award for Best First Novel, and earned him a nomination for the John W. Campbell Award for Best New Writer in both 2009 and 2010.",
    #     sections: [
    #       { title: "Website Design", commentary: "Felix asked for a redesign of his old website. I came up a new design, taking his personality and writing style and incorporated it into the overall style.", images: ["work/bb-detail-about.png"] },
    #       { title: "", commentary: "", images: ["work/bb-ipad-1.png"] },
    #       { title: "", commentary: "", images: ["work/bb-detail-ipad-2.png"] },
    #     ]
    #   }
    # ],
    ["work/element.png", "Element",{ brief: "Felix John Gilman is a writer of fantasy and weird fiction. His 2007 novel Thunderer was nominated for the 2009 Locus Award for Best First Novel, and earned him a nomination for the John W. Campbell Award for Best New Writer in both 2009 and 2010.",
        sections: [
          { title: "Website Design", commentary: "Felix asked for a redesign of his old website. I came up a new design, taking his personality and writing style and incorporated it into the overall style.", images: ["work/element-detail-blue-poster.png"] },
          { title: "", commentary: "", images: ["work/element-detail-blue-postcard.png"] },
          { title: "", commentary: "", images: ["work/element-detail-flyer.png"] },
          { title: "", commentary: "", images: ["work/element-detail-all-cards.png"] },        
          { title: "", commentary: "", images: ["work/element-detail-tickets.png"] },
          { title: "", commentary: "", images: ["work/element-detail-mobile.png"] },
        ]
      }]
  ] %>
  
<% projects.each do |project| %>
  <div class="container-fluid project-row">
    <div class="row">
      <div class="col-xs-12 project-summary-row" style="background-image: url('<%= image_path project[0] %>');">
        <div class="project-info-panel">
          <h1><%= project[1] %></h1>
          <% unless project[2].empty? %>
            <p><a href="#" class="project-more-info-link">more info</a></p>
          <% end %>
        </div>
      </div>
    </div>
    <% unless project[2].empty? %>
      <div class="row project-detail-row" style="display:none;">
        <div class="col-xs-12 text-center">
          <%= render :partial => "project_row", :locals => { data: project[2] } %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<!-- end project list -->

<%= render :partial => 'footer' %>